<div>

<h3>Filters</h3>

<label for="regiao">Região </label>
<input type="text" id="regiao" [(ngModel)]="regiao">
<br/>

<label for="especie">Espécie </label>
<input type="text" id="especie" [(ngModel)]="especie">
<br/>

<label for="especie">Espécie </label>
<input type="text" [(ngModel)]="statusConservacao">
<br/>

<input type="number" [(ngModel)]="temperaturaMin">
<br/>

<input type="number" [(ngModel)]="temperaturaMax">
<br/>

<input type="number" [(ngModel)]="phMin">
<br/>

<input type="number" [(ngModel)]="phMax">
<br/>

<input type="text" [(ngModel)]="nivelPoluicao">
<br/>

<button (click)="pesquisar()">Pesquisar</button>

</div>

<div>

  <h3>Data Table</h3>
<table>
  <thead>
    <tr>
      <th>REGIÃO</th>
      <th>ESPÉCIE</th>
      <th>STATUS CONSERVAÇÃO</th>
      <th>TEMPERATURA MÍNIMA</th>
      <th>TEMPERATURA MÁXIMA</th>
      <th>PH MÍNIMO</th>
      <th>PH MÁXIMO</th>
      <th>NÍVEL DE POLUIÇÃO</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dados">
      <td>
        {{item.regiao}}
      </td>
      <td>
        {{item.especie}}
      </td>
      <td>
        {{item.statusConservacao}}
      </td>
      <td>
        {{item.temperaturaMin}}
      </td>
      <td>
        {{item.temperaturaMax}}
      </td>
      <td>
        {{item.phMin}}
      </td>
      <td>
        {{item.phMax}}
      </td>
      <td>
        {{item.nivelPoluicao}}
      </td>
    </tr>
  </tbody>
</table>
</div>



