<div>

<h3>Filters</h3>

<label for="regiao">Região </label>
<input type="text" id="regiao" [(ngModel)]="regiao">
<br/>

<label for="especie">Espécie </label>
<input type="text" id="especie" [(ngModel)]="especie">
<br/>

<label for="statusConservacao">Status de Conservação </label>
<input type="text" id="statusConservacao" [(ngModel)]="statusConservacao">
<br/>

<label for="temperaturaMin">Temperatura Mínima </label>
<input type="number" id="temperaturaMin" [(ngModel)]="temperaturaMin">
<br/>

<label for="temperaturaMax">Temperatua Máxima </label>
<input type="number" id="temperaturaMax" [(ngModel)]="temperaturaMax">
<br/>

<label for="phMin">PH Mínimo </label>
<input type="number" id="phMin" [(ngModel)]="phMin">
<br/>

<label for="phMax">PH Máximo </label>
<input type="number" id="phMax" [(ngModel)]="phMax">
<br/>

<label for="nivelPoluicao">Nível Poluição </label>
<input type="text" id="nivelPoluicao" [(ngModel)]="nivelPoluicao">
<br/>

<button (click)="pesquisar()">Pesquisar</button>

</div>

<div>

  <h3>Data Table</h3>
<table>
  <thead>
    <tr>
      <th>REGIÃO</th>
      <th>ESPÉCIE</th>
      <th>STATUS CONSERVAÇÃO</th>
      <th>TEMPERATURA ÁGUA</th>
      <th>PH</th>
      <th>NÍVEL DE POLUIÇÃO</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dados">
      <td>
        {{item.regiao}}
      </td>
      <td>
        {{printEspecies(item.especies)}}
      </td>
      <td>
        {{printConservacao(item.projetosConservacao)}}
      </td>
      <td>
        {{item.temperaturaAgua}}
      </td>
      <td>
        {{item.pH}}
      </td>
      <td>
        {{item.nivelPoluicao}}
      </td>
    </tr>
  </tbody>
</table>
</div>



